virtualmachines:
  children: # Same behavior as nested groups
    swarm_managers:
      hosts:
        vm01:
          ansible_host: 172.16.239.2 #7.7G of RAM, 5.4 free
    swarm_workers:
      hosts:
        vm02:
          ansible_host: 172.16.239.34 #3.8G of RAM, 1.5 free
        vm03:
          ansible_host: 172.16.239.28 #3.8G of RAM, 1.5 free